.header-container {
    background-color: #3d3d3d;
    padding: 20px;
  }
  
  .header-content {
    display: flex;
    align-items: center;
  }
  
  .header-icon {
    margin-right: 10px;
    color: #fff;
  }
  
  .header-icon svg {
    vertical-align: middle;
  }
  
  .header-title {
    font-size: 24px;
    color: #fff;
    text-align: center;
  }